.container-fluid, .container {
    margin-right: auto;
    margin-left: auto;
  }
  
  .container-fluid {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  
  .row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem;
  }
  
  .col {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .col:not(.nopad) {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  
  .row.reverse, .row.rv {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  
  .col.reverse, .col.rv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  
  .col-xs, .x0 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  
  .col-xs-1, .x1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  
  .col-xs-2, .x2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  
  .col-xs-3, .x3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  
  .col-xs-4, .x4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  
  .col-xs-5, .x5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  
  .col-xs-6, .x6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  
  .col-xs-7, .x7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  
  .col-xs-8, .x8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  
  .col-xs-9, .x9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  
  .col-xs-10, .x10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  
  .col-xs-11, .x11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  
  .col-xs-12, .x12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  
  .col-xs-offset-0, .xo0 {
    margin-left: 0;
  }
  
  .col-xs-offset-1, .xo1 {
    margin-left: 8.33333333%;
  }
  
  .col-xs-offset-2, .xo2 {
    margin-left: 16.66666667%;
  }
  
  .col-xs-offset-3, .xo3 {
    margin-left: 25%;
  }
  
  .col-xs-offset-4, .xo4 {
    margin-left: 33.33333333%;
  }
  
  .col-xs-offset-5, .xo5 {
    margin-left: 41.66666667%;
  }
  
  .col-xs-offset-6, .xo6 {
    margin-left: 50%;
  }
  
  .col-xs-offset-7, .xo7 {
    margin-left: 58.33333333%;
  }
  
  .col-xs-offset-8, .xo8 {
    margin-left: 66.66666667%;
  }
  
  .col-xs-offset-9, .xo9 {
    margin-left: 75%;
  }
  
  .col-xs-offset-10, .xo10 {
    margin-left: 83.33333333%;
  }
  
  .col-xs-offset-11, .xo11 {
    margin-left: 91.66666667%;
  }
  
  .start-xs, .stx {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  
  .center-xs, .cnx {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  
  .end-xs, .enx {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  
  .top-xs, .tpx {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .middle-xs, .mdx {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .bottom-xs, .bmx {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  
  .around-xs, .arx {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  .between-xs, .bnx {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .first-xs, .frx {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  
  .last-xs, .lsx {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .hidden-xs, .hx{
    display: none;
  }
  .show-inline-xs, .six{
    display: inline;
  }
  .show-block-xs, .sbx{
    display: block;
  }
  .show-inline-block-xs, .sibx{
    display: inline-block;
  }
  
  .text-right-xs, .trx {
    text-align: right;
  }
  
  .text-middle-xs, .tmx {
    text-align: center;
  }
  
  .text-left-xs, .tlx {
    text-align: left;
  }
  .stretch-xs, .shx{
    width: 100%;
    box-sizing: border-box;
  }
  .shrink-xs, .snx{
    width: auto;
  }
  
  @media only screen and (min-width: 48em) {
    .container {
      width: 49rem;
    }
    .col-sm, .s0 {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%;
    }
    .col-sm-1, .s1 {
      -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
    }
    .col-sm-2, .s2 {
      -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }
    .col-sm-3, .s3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%;
    }
    .col-sm-4, .s4 {
      -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
      max-width: 33.33333333%;
    }
    .col-sm-5, .s5 {
      -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
      max-width: 41.66666667%;
    }
    .col-sm-6, .s6 {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%;
    }
    .col-sm-7, .s7 {
      -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
      max-width: 58.33333333%;
    }
    .col-sm-8, .s8 {
      -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
    }
    .col-sm-9, .s9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%;
    }
    .col-sm-10, .s10 {
      -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
      max-width: 83.33333333%;
    }
    .col-sm-11, .s11 {
      -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
      max-width: 91.66666667%;
    }
    .col-sm-12, .s12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
    .col-sm-offset-0, .so0 {
      margin-left: 0;
    }
    .col-sm-offset-1, .so1 {
      margin-left: 8.33333333%;
    }
    .col-sm-offset-2, .so2 {
      margin-left: 16.66666667%;
    }
    .col-sm-offset-3, .so3 {
      margin-left: 25%;
    }
    .col-sm-offset-4, .so4 {
      margin-left: 33.33333333%;
    }
    .col-sm-offset-5, .so5 {
      margin-left: 41.66666667%;
    }
    .col-sm-offset-6, .so6 {
      margin-left: 50%;
    }
    .col-sm-offset-7, .so7 {
      margin-left: 58.33333333%;
    }
    .col-sm-offset-8, .so8 {
      margin-left: 66.66666667%;
    }
    .col-sm-offset-9, .so9 {
      margin-left: 75%;
    }
    .col-sm-offset-10, .so10 {
      margin-left: 83.33333333%;
    }
    .col-sm-offset-11, .so11 {
      margin-left: 91.66666667%;
    }
    .start-sm, .sts {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: start;
    }
    .center-sm, .cns {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
    }
    .end-sm, .ens {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      text-align: end;
    }
    .top-sm, .tps {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .middle-sm, .mds {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .bottom-sm, .bms {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
    }
    .around-sm, .ars {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
    .between-sm, .bns {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    .first-sm, .frs {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
    }
    .last-sm, .lss {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
    }

    .hidden-sm, .hs{
      display: none;
    }
    .show-inline-sm, .sis{
      display: inline;
    }
    .show-block-sm, .sbs{
      display: block;
    }
    .show-inline-block-sm, .sibs{
      display: inline-block;
    }
    .text-right-sm, .trs {
      text-align: right;
    }
    .text-middle-sm, .tms {
      text-align: center;
    }
    .text-left-sm, .tls {
      text-align: left;
    }
    .stretch-sm, .shs{
      width: 100%;
      box-sizing: border-box;
    }
    .shrink-sm, .sns{
      width: auto;
    }
  }
  
  @media only screen and (min-width: 64em) {
    .container {
      width: 65rem;
    }
    .col-md, .m0 {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%;
    }
    .col-md-1, .m1 {
      -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
    }
    .col-md-2, .m2 {
      -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }
    .col-md-3, .m3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%;
    }
    .col-md-4, .m4 {
      -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
      max-width: 33.33333333%;
    }
    .col-md-5, .m5 {
      -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
      max-width: 41.66666667%;
    }
    .col-md-6, .m6 {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%;
    }
    .col-md-7, .m7 {
      -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
      max-width: 58.33333333%;
    }
    .col-md-8, .m8 {
      -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
    }
    .col-md-9, .m9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%;
    }
    .col-md-10, .m10 {
      -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
      max-width: 83.33333333%;
    }
    .col-md-11, .m11 {
      -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
      max-width: 91.66666667%;
    }
    .col-md-12, .m12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
    .col-md-offset-0, .mo0 {
      margin-left: 0;
    }
    .col-md-offset-1, .mo1 {
      margin-left: 8.33333333%;
    }
    .col-md-offset-2, .mo2 {
      margin-left: 16.66666667%;
    }
    .col-md-offset-3, .mo3 {
      margin-left: 25%;
    }
    .col-md-offset-4, .mo4 {
      margin-left: 33.33333333%;
    }
    .col-md-offset-5, .mo5 {
      margin-left: 41.66666667%;
    }
    .col-md-offset-6, .mo6 {
      margin-left: 50%;
    }
    .col-md-offset-7, .mo7 {
      margin-left: 58.33333333%;
    }
    .col-md-offset-8, .mo8 {
      margin-left: 66.66666667%;
    }
    .col-md-offset-9, .mo9 {
      margin-left: 75%;
    }
    .col-md-offset-10, .mo10 {
      margin-left: 83.33333333%;
    }
    .col-md-offset-11, .mo11 {
      margin-left: 91.66666667%;
    }
    .start-md, .stm {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: start;
    }
    .center-md, .cnm {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
    }
    .end-md, .enm {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      text-align: end;
    }
    .top-md, .tpm {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .middle-md, .mdm {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .bottom-md, .bmm {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
    }
    .around-md, .arm {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
    .between-md, .bnm {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    .first-md, .frm {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
    }
    .last-md, .lsm {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
    }

    .hidden-md, .hm{
      display: none;
    }
    .show-inline-md, .sim{
      display: inline;
    }
    .show-block-md, .sbm{
      display: block;
    }
    .show-inline-block-md, .sibm{
      display: inline-block;
    }
    .text-right-md, .trm {
      text-align: right;
    }
    .text-middle-md, .tmm {
      text-align: center;
    }
    .text-left-md, .tlm {
      text-align: left;
    }
    .stretch-md, .shm{
      width: 100%;
      box-sizing: border-box;
    }
    .shrink-md, .snm{
      width: auto;
    }
  }
  
  @media only screen and (min-width: 75em) {
    .container {
      width: 76rem;
    }
    .col-lg, .l0 {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%;
    }
    .col-lg-1, .l1 {
      -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
    }
    .col-lg-2, .l2 {
      -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }
    .col-lg-3, .l3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%;
    }
    .col-lg-4, .l4 {
      -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
      max-width: 33.33333333%;
    }
    .col-lg-5, .l5 {
      -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
      max-width: 41.66666667%;
    }
    .col-lg-6, .l6 {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%;
    }
    .col-lg-7, .l7 {
      -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
      max-width: 58.33333333%;
    }
    .col-lg-8, .l8 {
      -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
    }
    .col-lg-9, .l9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%;
    }
    .col-lg-10, .l10 {
      -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
      max-width: 83.33333333%;
    }
    .col-lg-11, .l11 {
      -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
      max-width: 91.66666667%;
    }
    .col-lg-12, .l12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
    .col-lg-offset-0, .lo0 {
      margin-left: 0;
    }
    .col-lg-offset-1, .lo1 {
      margin-left: 8.33333333%;
    }
    .col-lg-offset-2, .lo2 {
      margin-left: 16.66666667%;
    }
    .col-lg-offset-3, .lo3 {
      margin-left: 25%;
    }
    .col-lg-offset-4, .lo4 {
      margin-left: 33.33333333%;
    }
    .col-lg-offset-5, .lo5 {
      margin-left: 41.66666667%;
    }
    .col-lg-offset-6, .lo6 {
      margin-left: 50%;
    }
    .col-lg-offset-7, .lo7 {
      margin-left: 58.33333333%;
    }
    .col-lg-offset-8, .lo8 {
      margin-left: 66.66666667%;
    }
    .col-lg-offset-9, .lo9 {
      margin-left: 75%;
    }
    .col-lg-offset-10, .lo10 {
      margin-left: 83.33333333%;
    }
    .col-lg-offset-11, .lo11 {
      margin-left: 91.66666667%;
    }
    .start-lg, .stl {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: start;
    }
    .center-lg, .cnl {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
    }
    .end-lg, .enl {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      text-align: end;
    }
    .top-lg, .tpl {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .middle-lg, .mdl {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .bottom-lg, .bml {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
    }
    .around-lg, .arl {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
    .between-lg, .bnl {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    .first-lg, .frl {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
    }
    .last-lg, .lsl {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
    }

    .hidden-lg, .hl{
      display: none;
    }
    .show-inline-lg, .sil{
      display: inline;
    }
    .show-block-lg, .sbl{
      display: block;
    }
    .show-inline-block-lg, .sibl{
      display: inline-block;
    }
    .text-right-lg, .trl {
      text-align: right;
    }
    .text-middle-lg, .tml {
      text-align: center;
    }
    .text-left-lg, .tll {
      text-align: left;
    }
    .stretch-lg, .shl{
      width: 100%;
      box-sizing: border-box;
    }
    .shrink-lg, .snl{
      width: auto;
    }
  }