/*@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,700&display=swap');
$font-main: 'Averia Serif Libre', cursive;

$font-main: Arial, sans-serif;*/

//@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&family=Roboto:wght@400;700&display=swap');
$font-main: 'Roboto', sans-serif;
$font-cond: 'Roboto Condensed', sans-serif;