form {
    display: block;
}

input:not(.button),
textarea,
select {
    border: 1px solid $color-border;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: $font-main;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.5s;

    &:focus {
        border: 1px solid $color-main;
        -webkit-box-shadow: 0px 0px 0px 2px rgba($color-alt, 0.15);
        -moz-box-shadow: 0px 0px 0px 2px rgba($color-alt, 0.15);
        box-shadow: 0px 0px 0px 2px rgba($color-alt, 0.15);
    }
}

input,
select {
    height: 38px;
    line-height: 38px !important;
}

select {
    option:not([value]) {
        display: none;
        color: #BBB;
    }
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    &:focus{
        background-image:
          linear-gradient(45deg, $color-main 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, $color-main 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position:
          calc(100% - 15px) 1em,
          calc(100% - 20px) 1em,
          calc(100% - 2.5em) 0.5em;
        background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
        background-repeat: no-repeat;
        outline: 0;
    }
}

textarea {
    padding: 5px;
    min-height: 6rem;
    resize: vertical;
}

button,
input.button,
a.button,
input[type=submit],
input[type=reset] {
    font-family: $font-main;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 38px;
    line-height: 38px !important;
    vertical-align: middle;
    display: inline-block;
    color: $color-main;
    border: 1px solid $color-main;
    border-radius: 3px;
    text-align: center;
    transition: 0.5s !important;

    &.solid {
        color: white !important;
        background-size: 200% auto;
        background-image: linear-gradient(to right, $color-main 0%, $color-alt 51%, $color-main 100%);

        &:hover {
            background-position: right center;
        }
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

.foot {
    button,
    input.button,
    a.button,
    input[type=submit],
    input[type=reset] {
        margin-top: 10px;
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #DDD;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #DDD;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #DDD;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #DDD;
}

label {
    display: inline-block;
    font-family: $font-cond;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:lighten($color-sketch, 60%);;
}



.section-header {
    height: 3px;
    margin: 10px 0;
    text-align: right;
    width: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHUlEQVQYV2NkgIK7d+/+ZwSxQQxlZWVGRhgDJAgA2yULmg3PcgYAAAAASUVORK5CYII=) repeat-x;
    box-sizing: border-box;
    span {
        position: relative;
        top: -8px;
        right: 15px;
        background: #FFF;
        padding: 0 10px;
        text-transform: uppercase;
        font-size: 11px;
        color: #DDD;
        font-style: italic;
    }
}

input[type="checkbox"],
input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type="checkbox"]:focus+label:before,
input[type="radio"]:focus+label:before,
input[type="checkbox"]:hover+label:before,
input[type="radio"]:hover+label:before {
    border-color: $color-main;
    background-color: rgba($color-alt, 0.3);
}

input[type="checkbox"]:active+label:before,
input[type="radio"]:active+label:before {
    transition-duration: 0s;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    position: relative;
    padding: 0 1em 0 1.8em;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    font-family: $font-main;
    color: $color-text;
}

input[type="checkbox"]+label:before,
input[type="radio"]+label:before {
    box-sizing: content-box;
    content: '';
    color: $color-main;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 2px solid $color-main;
    border-radius: 3px;
    text-align: center;
    transition: all 0.4s ease;
}

input[type="checkbox"]+label:after,
input[type="radio"]+label:after {
    box-sizing: content-box;
    content: '';
    background-color: $color-main;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    transform: scale(0);
    transform-origin: 50%;
    transition: transform 200ms ease-out;
}

input[type="checkbox"]:disabled+label:before,
input[type="radio"]:disabled+label:before {
    border-color: #cccccc;
}

input[type="checkbox"]:disabled:focus+label:before,
input[type="radio"]:disabled:focus+label:before,
input[type="checkbox"]:disabled:hover+label:before,
input[type="radio"]:disabled:hover+label:before {
    background-color: inherit;
}

input[type="checkbox"]:disabled:checked+label:before,
input[type="radio"]:disabled:checked+label:before {
    background-color: #cccccc;
}

input[type="checkbox"]+label:after {
    background-color: transparent;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 3px;
    margin-top: -4px;
    margin-left: -0.5px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0 0 3px 3px;
    border-image: none;
    transform: rotate(-45deg) scale(0);
}

input[type="checkbox"]:checked+label:after {
    content: '';
    transform: rotate(-45deg) scale(1);
    transition: transform 200ms ease-out;
}

input[type="radio"]:checked+label:before {
    animation: borderscale 300ms ease-in;
    background-color: white;
}

input[type="radio"]:checked+label:after {
    transform: scale(1);
}

input[type="radio"]+label:before,
input[type="radio"]+label:after {
    border-radius: 50%;
}

input[type="checkbox"]:checked+label:before {
    animation: borderscale 200ms ease-in;
    background: $color-main;
}

input[type="checkbox"]:checked+label:after {
    transform: rotate(-45deg) scale(1);
}

@keyframes borderscale {
    50% {
        box-shadow: 0 0 0 3px rgba($color-alt, 0.3);
    }
}