<div class="matter">
    <main class="col x12">
        <div class="row error">
            <div class="col x12 tmx brand">
                <a href="{{ mainlink }}"><img style="width: 160px;" src="{{ logo }}"></a>
            </div>
            <div class="col x12 tmx message" style="padding: 40px 0;">
                <h1>{{ code }}</h1>
                <div>{{ description }}</div>
            </div>
            <div class="col x12 tmx">
                <a class="button" href="{{ backlink }}"><i class="mdi mdi-restart"></i> {: message_returntomain :}</a>
            </div>
        </div>
    </main>
</div>
<style type="text/css">
    .frame {
        justify-content: center;
    }
</style>