<div class="matter">
    <div class="row">
        <div class="col x12">
            <h3>Control: Dashboard</h3><a href="control/settings">Settings</a>
        </div>
        <div class="col x12">
            Control Panel Dashboard Loaded.<br>
            Total registered users: <b>{{ total_user }}</b>. <a href="control/create/user">Create</a><br>
            Total registered organizations: <b>{{ total_organization }}</b>. <a href="control/create/organization">Create</a><br>
            Total registered projects: <b>{{ total_project }}</b>. <a href="control/create/project">Create</a>
        </div>
    </div>
</div>