<div class="matter">
    <main class="col x12">
        <div class="row">
            <div class="col x12 s8 m9"></div>
            <div class="col x12 s4 m3">
                <form class="row" action="account/login" method="POST">
                    <div class="col x12">
                        <h3>{: auth_loginrequest :}</h3>
                    </div>
                    <div class="col x12"><input type="text" name="user" placeholder="{: auth_username :}" /></div>
                    <div class="col x12"><input type="password" name="pass" placeholder="{: auth_password :}" /></div>
                    <div class="col x12"><button type="submit" class="button solid shx"><i
                                class="mdi mdi-login-variant"></i>&nbsp;{: auth_login :}</button></div>
                </form>
            </div>
        </div>
    </main>
</div>