
            <div id="header">
                <div class="frame">
                    <div class="row">
                        <div class="col x0" style="max-width: 120px;">                            
                            <a href="{{ mainlink }}"><img id="logo" src="{{ logo }}"></a>
                        </div>
                        <div class="col x0">
                            <ul class="nav">
                                <li><a href="#"><i class="mdi mdi-lifebuoy"></i>{: menu_support :}</a>
                                    <ul>
                                        <li><a href="support/faq">Frequently Asked</a></li>
                                        <li><a href="support/ticket">Tickets</a></li>
                                        <li><a href="support/resource">{: menu_resource :}</a></li>
                                        <li><a href="support/contact">{: menu_contact :}</a></li>
                                    </ul>
                                </li>
                                <li><a href="account/login"><i class="mdi mdi-account-circle-outline"></i>Guest</a></li>
                                <li><a href="control" class="iconly"><i class="mdi mdi-cog-outline"></i></a></li>
                                <li id="hamburger">
                                    <div id="hamwrap">
                                        <div class="hamburger-menu"></div>	  
                                    </div>
                                </li>
                            </ul>
                            <div id="menu">
                                <div>
                                    <br><br><br><br>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a>
                                        <ul>
                                            <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a>
                                                <ul>
                                                    <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                                    <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a></li>
                                                    <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                                    <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a>
                                                        <ul>
                                                            <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                                            <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a></li>
                                                            <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                                            <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a></li>
                                                            <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                                    <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a></li>
                                                    <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a>
                                        <ul>
                                            <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a>
                                        <ul>
                                            <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a></li>
                                            <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="mdi mdi-comment-text-multiple-outline"></i>{: menu_posts :}</a></li>
                                    <li><a href="#"><i class="mdi mdi-account-group-outline"></i>{: menu_members :}</a></li>
                                </ul>
                                <div>
                                    Hello
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>         