
            <div id="footer">
                <div class="frame">
                    <div id="footmain" class="row">
                        <div class="col x12 s4 m3 tlx">
                            <ul>
                                <li><a href="legal/privacy">Privacy Policy</a></li>
                                <li><a href="legal/tos">Terms of Service</a></li>
                                <li><a href="#">Generate Feed Link</a></li>
                                <li><a href="epistle">Epistle</a></li>
                            </ul>
                        </div>
                        <div class="col x12 s8 m9 trx">
                            <h3>Important Notes</h3>
                            Elyzin is a bloat-less light-weight modern content management and discussion software with very minimal external dependencies. Coded keeping the simplicity in mind with maximum possible features out of the box.
                        </div>
                    </div>
                    <div id="footline" class="row">
                        <div class="col x12 s6 tmx tls">
                            © 2020,&nbsp;<a href="https://elyz.in" target="_blank">Elyzin</a>, All Rights Reserved
                        </div>
                        <div class="col x12 s6 tmx trs">
                            Page created : well, efficiently ...
                        </div>
                    </div>
                </div>
            </div>